body{
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-size: 24pt;
}

@font-face {
  font-family: bougie;
  src: url(PPNeueBit-Bold.otf);
}

.everything{
  display: grid;
  width: 100vw;
  height: 100vh;
  position: absolute;
  align-items: center;
  justify-self: center;
  text-align: center;
  font-family: "bougie";
}

.ascii {
  font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

pre{
  margin-top: 40px;
  /* margin: 0;
  padding: 0; */
  font-size: 12px;
}

.title{
  padding: 20px 0 0 20px;
  position: sticky;
  text-align: left;
  top: 0;
  font-size: 20pt;
}

a{
  display: flex;
  justify-self: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  /* position: absolute; */
}

.button{
  display: grid;
  justify-self: center;
  width: 200px;
  height: 50px;
  color: black;
  background-color: white;
  align-items: center;
  font-size: 40px;
  margin-top: 50px;
  margin-bottom: 100px;
  /* position: absolute; */
}

.start{
  display: grid;
  align-items: center;
  justify-self: center;
  line-height: 40px;
  width: 80%;
  /* margin: 0; */
}

.con{
  padding-left: 250px;
  text-align: left;
  /* color: red; */
  /* left: 0;   */
}

.grid{
  display: inline-grid;
  grid-template-columns: auto auto;
  align-items: center;
}

.con-text{
  display: grid;
  align-items: center;
  justify-self: center;
  width: 650px;
  height: 450px;
  border-color: white;
  /* border-width: 1px; */
  /* border-radius: 100%; */
  text-align: left;
  padding: 20px 40px 20px 40px;
  border-style: solid;
  overflow: scroll;
}

.hh{
  margin: 20px;
  line-height: 30px;
  border-style: solid;
  padding: 15px;
  user-select: none;
}

.hh:hover{
  background-color: #3A3B3C;
  /* color: black; */
}

.pencil{
  justify-self: left;
  font-size: 10pt;
  /* position: absolute; */
}

.ppap{
  width:400px;
}

/* MAKING THE RADIO CIRCLES NOT VISIBLE
input[type="radio"] {
  /* Add if not using autoprefixer */
  /* -webkit-appearance: none;
  appearance: none; */
  /* For iOS < 15 to remove gradient background */
  /* background-color: #fff; */
  /* Not removed via appearance */
  /* margin: 0;
} */ */

.radio-button input[type="radio"] {
  display: none;
}      

.radio-button label {
  display: inline-block;
  padding: 4px 11px;
  font-family: Arial;
  font-size: 18px;
  cursor: pointer;
}      

.radio-button input[type="radio"]:checked+label {
  background-color: #76cf9f;
}