body{
  margin: 40;
  padding: 0;
  background-color: black;
  color: white;
  font-size: 25pt;
}

@font-face {
  font-family: bougie;
  src: url(PPNeueBit-Bold.otf);
}

.everything{
  display: grid;
  width: 100vw;
  height: 100vh;
  position: absolute;
  align-items: center;
  justify-self: center;
  text-align: center;
  font-family: "bougie";
}

.ascii {
  font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

pre{
  margin-top: 100px;
  /* margin: 0;
  /* padding: 0;  */
  padding: 0;
  margin: 0;
  font-size: 15pt;
  /* width: ; */
}

.title{
  padding: 40px 0 0 40px;
  position: absolute;
  top: 0;
  font-size: 16pt;
}

a{
  display: flex;
  justify-self: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: white;
  /* position: absolute; */
}

.button{
  display: grid;
  justify-self: center;
  width: 200px;
  height: 50px;
  color: black;
  background-color: white;
  align-items: center;
  font-size: 40px;
  margin-top: 50px;
  margin-bottom: 100px;
  /* position: absolute; */
}

.start{
  display: grid;
  align-items: center;
  justify-self: center;
  line-height: 40px;
  width: 50%;
  /* margin: 0; */
}

.con{
  padding-left: 250px;
  text-align: left;
  /* color: red; */
  /* left: 0;   */
}

.grid{
  display: inline-grid;
  grid-template-columns: 30% 70%;
  align-items: center;
}

/* grid2{} */
.con-text{
  display: grid;
  align-items: center;
  justify-self: center;
  width: 740px;
  height: 400px;
  border-color: white;
  /* border-width: 1px; */
  /* border-radius: 100%; */
  text-align: left;
  padding: 20px 60px 20px 60px;
  border-style: solid;
  overflow: scroll;
}

.hh{
  margin: 20px;
  line-height: 30px;
  border-style: solid;
  user-select: none;
}

.hh:hover{
  background-color: #3A3B3C;
  /* color: black; */
}

.pencil{
  justify-self: left;
  font-size: 10pt;
  /* position: absolute; */
}

.ppap{
  width:400px;
}

input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
}

.radio-button input[type="radio"] {
  display: none;
}

.radio-button label {
  display: inline-block;
  padding: 30px 30px;
  cursor: pointer;
}

.radio-button input[type="radio"]:checked+label {
  background-color: white;
  color: black;
}

.button2{
  display: grid;
  width: 200px;
  height: 50px;
  color: black;
  margin-top: 20px;
  background-color: white;
  align-items: center;
  font-size: 40px;
  font-family: bougie;
  /* margin-top: 50px; */
  /* margin-bottom: 100px; */
  /* position: absolute; */
}


h1 {
  text-align: left;
  font-size: 60px;
  line-height: 96%;
  margin-block-start: 70px;
  margin-block-end: 0px;
}

.header {
  padding: 0px 40px 0px 40px;
}

.button-container {
  justify-content: right;
  display: flex;
  width: 863px;
  align-items: right;
  margin-left: auto;
}

.right-content {
  width: 720px;
}