body{
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-size: 25pt;
}

@font-face {
  font-family: bougie;
  src: url(PPNeueBit-Bold.otf);
}

.everything{
  display: grid;
  width: 100vw;
  height: 100vh;
  position: absolute;
  align-items: center;
  justify-self: center;
  text-align: center;
  font-family: "bougie";
}

.ascii {
  font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

pre{
  margin-top: 100px;
  /* margin: 0;
  padding: 0; */
  font-size: 15pt;
}

.title{
  padding: 35px 0 0 35px;
  position: absolute;
  top: 0;
  font-size: 25pt;
}

a{
  display: flex;
  justify-self: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  /* position: absolute; */
}

.button{
  display: grid;
  justify-self: center;
  width: 200px;
  height: 50px;
  color: black;
  background-color: white;
  align-items: center;
  font-size: 40px;
  margin-top: 50px;
  margin-bottom: 100px;
  /* position: absolute; */
}

.start{
  display: grid;
  align-items: center;
  justify-self: center;
  line-height: 40px;
  width: 50%;
  /* margin: 0; */
}

.con{
  padding-left: 250px;
  text-align: left;
  /* color: red; */
  /* left: 0;   */
}

.grid{
  display: inline-grid;
  grid-template-columns: auto auto;
  align-items: center;
}

.con-text{
  display: grid;
  align-items: center;
  justify-self: center;
  width: 600px;
  height: 350px;
  border-color: white;
  /* border-width: 1px; */
  /* border-radius: 100%; */
  text-align: left;
  padding: 10px;
  border-style: solid;
  overflow: scroll;
}
